<div>
  <h1 class="text-lg font-bold text-4xl">會員</h1>
  <%= link_to "註冊", new_user_registration_path, notice: '已成功登入!' %>
  <%= link_to "登入", new_user_session_path %>
  <%= link_to "登出", destroy_user_session_path %>
</div>
